#todo-div {
	/* justify-content: center; */
	flex-direction: column;
	display: flex;
	/* min-height: 500px; */
	/* max-height: 1000px; */
	overflow: auto;
	width: 100%;
	box-sizing: border-box;
	background-color: tomato;
}

.todo-item {
	box-sizing: border-box;
	padding: 10px;
	width: 95%;
	margin: 10px 2.5% 10px 2.5%;
	background-color: rgb(255, 254, 251);
	color: black;
}
.todo-item:hover {
	cursor: context-menu;
}
.todo-item > input[type="checkbox"] {
	cursor: pointer;
}
.todo-text {
	width: 70%;
	display: inline-block;
}
.todo-text:hover {
	cursor: pointer;
}
.todo-title {
	box-sizing: border-box;
	padding: 10px;
	width: 95%;
	margin: 10px 2.5% 10px 2.5%;
	background-color: #fffefb;
	color: black;
	font-weight: bold;
}
#todo-title-input {
	width: 70%;
	height: 32px;
	font-size: 1.2em;
	border: none;
}
#todo-title-input:focus {
	border: 1px solid #f37672;
	border-radius: 5px;
	background-color: rgb(252, 252, 174);
}

#todo-save {
	width: 20%;
	height: 32px;
	float: right;
	background-color: aquamarine;
	color: #fffefb;
	border: none;
}
#todo-save:focus {
	border: none;
}

#todo-launch {
	width: 20%;
	height: 32px;
	float: right;
	background-color: rgb(255, 225, 127);
	color: #ffffff;
	border: none;
}
#todo-launch:focus {
	border: none;
}
