h1 {
  color: orange;
}

body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.btn-block {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 159px;
  height: 40px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
}
.btn-block:active {
  border: none;
  background-color: rgb(160, 7, 7);
}
.btn-block:hover {
  background-color: rgb(236, 130, 130);
}
.btn-collection {
  /* margin: 0 auto; */
  /* margin-top: 100px; */
}
#main-div{
  display: flex;
}
#side-div{
  /* box-sizing: border-box; */
  width:30%;
  display: flex;
  background-color: rgb(131, 58, 180);
  /* height: 1000px; */
  color: white;
}

#welcome-div{
  justify-content: center;
  flex-direction: column;
  display: flex;
  min-height: 500px;
  width: 70%;
  box-sizing: border-box;
  background-color: tomato;
  
}

#todo-div{
  justify-content: center;
  flex-direction: column;
  display: flex;
  min-height: 500px;
  width: 70%;
  box-sizing: border-box;
  background-color: tomato;
  
}

.todo-item{
  
  box-sizing: border-box;
  padding: 10px;
  width:95%;
  margin: 10px 2.5% 10px 2.5%;
  background-color: rgb(255, 254, 251);
  color: black;
}